body {
  margin: 0;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

/* Header, navbar */

.bg-black {
  background-color: black;
}
.link {
  display: inline-block;
  flex: 1 0 100px;
  font-size: 20px;
  border-right: 2px solid white;
  color: white;
  padding: 5px 10px;
  transition: all 0.2s ease;
  text-align: center;
}

.header-navbar a:hover {
  color: black;
  background-color: white;
}

.no-right-border {
  border-right: none;
}

.header-navbar img {
  width: 60px;
}
.header-navbar {
  padding: 15px 150px 15px 100px;
}

.p-fixed {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  z-index: 1;
}

h1 {
  display: inline-block;
  color: white;
  margin-left: 15px;
}

.flexbox-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flex-item-1 {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.flex-item-2 {
  display: flex;
  flex: 2;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Banner  */

main {
  margin-top: 80px;
}
.banner {
  position: relative;
}

.object-fit {
  width: 100%;
  object-fit: contain;
}

.center {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  display: inline-block;
  padding: 20px 0;
}

h3 {
  display: inline-block;
  margin: 0;
}

.spec-box {
  display: flex;
  color: white;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  text-align: start;
  margin-bottom: 70px;
}

.spec-1 {
  width: 320px;
  height: 200px;
  margin: 0px 15px 15px 15px;
  background-color: black;
}

.spec-1-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.spec-2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url("slike/cpu3.png");
  background-position: center;
  background-size: cover;
  width: 450px;
  align-self: stretch;
  padding-top: 20px;
}

.screen-img {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-image: url("slike/ekran.jpg");
  background-size: cover;
  background-position: 320px;
  height: 250px;
}

.battery-img {
  height: 150px;
  background-image: url("slike/baterija.jpg");
  background-size: cover;
}

.camera-img {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background-image: url("slike/kamera2.jpg");
  background-size: 750px;
  background-position: 360px;
}

.storage-img {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 92.5px;
}

.gradient-text {
  background: #0093e9;
  background: -webkit-linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  background: -moz-linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  background: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.no-down-border {
  margin-bottom: 0px;
}

.margin-15 {
  margin: 15px;
}

.text-shadow {
  text-shadow: 2px 2px 11px rgba(0, 0, 0, 0.78);
}

.text-spec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  height: 750px;
}

.text-spec-img {
  background-image: url("slike/Xiaomi-11T-Pro_Special-Angle-9_23IPfTdfoGhc.png");
  background-size: cover;
  background-position: center;
}

.text-spec-prop {
  color: rgb(230, 230, 230);
  width: 450px;
}

.text-spec-prop b {
  color: white;
}

.text-spec-header {
  margin-bottom: 15px;
  font-size: 20px;
}

/* PRICE AND COLOR */

.price {
  margin-top: 30px;
  padding-right: 50px;
}

.price h4 {
  font-size: 25px;
  font-weight: 400;
}

.price__margin {
  margin-bottom: 40px;
}

.phone-color__heading {
  font-size: 18px;
}

.phone-color-blue__bg {
  background-color: #0093e9;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.phone-color-white__bg {
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.phone-color-gray__bg {
  background-color: #aaaaaa;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.phone-color__border {
  border: 1px solid gray;
}

.margin-right__10px {
  margin-right: 10px;
}

.flex-even {
  justify-content: space-evenly;
}

.price__orange-text {
  color: #ff6700;
  font-size: 20px;
  margin-top: -10px;
}

/* COMPARISON */

.comparison__flex {
  gap: 100px;
}

.comparison-first:hover {
  background-color: #0094e927;
}

.comparison-first:visited {
  color: black;
}

.comparison-second:visited {
  color: black;
}
.comparison-second:hover {
  background-color: #0094e927;
}

.comparison-picture-first {
  display: inline-block;
  width: 350px;
  height: 400px;
  background-image: url("slike/samsunggalaxya52s.png");
  background-size: cover;
  background-position: center;
}

.comparison-picture-second {
  display: inline-block;
  width: 350px;
  height: 400px;
  background-image: url("slike/nord2_Blue_Haze.png");
  background-size: cover;
  background-position: center;
}

.comparison h4 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 0;
}

/* FOOTER */

footer {
  background-color: black;
  color: white;

  margin-top: 60px;
  padding: 60px 120px 80px;
}

.footer__flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.newsletter {
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  gap: 20px;
}

.newsletter h3 {
  letter-spacing: 7px;
  font-size: 30px;
}

.email-css {
  height: 35px;
  width: 450px;
  margin-top: 10px;
  border: none;
  text-align: center;
}

.email-css::placeholder {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px 13px rgba(0, 0, 0, 0.27);
  letter-spacing: 5px;
}

.email-css:focus {
  outline: solid 3px #ff6700;
}

.newspaper-email__label {
  text-align: left;
  font-size: 20px;
  margin-bottom: 5px;
}

.newsletter__submit {
  width: 100%;
  height: 50px;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 5px;
  text-shadow: 2px 2px 13px rgba(0, 0, 0, 0.27);
  padding: 5px 0;
  margin-top: 10px;
  background-color: #ff6700;
  color: white;
  border: none;
}

.copyright {
  display: inline-block;
  flex: 1;
}

.contact__flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact h3 {
  font-size: 25px;
  margin-bottom: 35px;
}
.contact p {
  margin-top: 0;
}

small {
  position: relative;
  top: 16px;
  font-size: 11px;
  color: #aaaaaa;
  letter-spacing: 2px;
}
